//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================
.innerContentContainer{
	box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.75);
	background: url("../img/bg_content.png") repeat;
	
	.contentContainer{
		padding:20px;
		p {
			color: #000;
			font-family: "aileronlight";
			font-size: 14px;
			line-height: 180%;
			margin-bottom: 20px;
			a {
				color: #000;
			}
		}
				
		.btnFileReport {
			background: rgba(0, 0, 0, 0) url("../img/btn_fileReport.png") no-repeat scroll right center;
			font-size: 18px;
			line-height: 130%;
			min-height: 20px;
			padding-bottom: 1px;
			padding-right: 20px;
			span {
				border-bottom: 1px solid #706f73;
				color: #706f73;
				font-family: "Oswald";
				font-size: 18px;
				font-weight: 400;
				text-transform: uppercase;
			}
		}
				
		.ethicsLogoContainer {
			padding-bottom: 40px;
		}
		
		
		.companyName {
			color: #706f73 !important;
			font-family: "Oswald";
			font-size: 23px;
			font-weight: 400;
			letter-spacing: 1px;
			padding-bottom: 20px;
		}
		
		.companyAddress {
			color: #706f73 !important;
			font-family: "Oswald";
			font-size: 19px;
			font-weight: 300;
			letter-spacing: 1px;
			line-height: 140%;
			padding-bottom: 15px;
		}
	}
}


//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.innerContentContainer{
		.contentContainer{
			padding:40px;
		}
	}
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {	

}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}