//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.mainPost{
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.60);
	-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.60);
	box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.60);
	position:relative;
	z-index:100;
	.feature-img-container{
		padding:0;		
		.feature-img-caption{
			background:#E6E8E7;	
			padding:5px 10px;
			font-size:12px;
			color:#818181;	
		}
	}
	
	.feature-content-container{
		background:#fff;
		font-family: "Oswald";
		font-weight:300;
		.post-date{
			text-transform:uppercase;
			margin-top:20px;
			margin-bottom:0;
			display:inline-block;
		}
		h2{
			margin-top:5px;
			margin-bottom:30px;
			font-size:26px;
		}
		.post-excerpt{
			font-size:20px;
			color:#53555A;
		}
		.readmore_link{
			margin-bottom:20px;
			display:inline-block;
			color:#953834;
			text-transform:uppercase;
		}
	}
}

.subPost-container{
	background:#fff;
	font-family: "Oswald";
	font-weight:300;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.60);
	-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.60);
	box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.60);
	position:relative;
	z-index:80;
	.subPostItem{
		padding-bottom:20px;
		.img-caption{
			font-size:10px;
			color:#818181;
			padding:5px 0;
		}
		.post-date{
			text-transform:uppercase;
			margin:0;
			display:inline-block;
			font-size:20px;
		}
		h2{
			font-size:26px;
		}
		.post-excerpt{
			font-size:20px;
			color:#53555A;
		}
		.readmore_link{
			color:#953834;
			text-transform:uppercase;
		}
	}
}

.post-listing{
	position:relative;
	z-index:60;
	padding:30px 40px 0;
	background:rgba(255,255,255,0.8);
	.listing-control{
		font-family: "Oswald";
		font-weight:100;
		padding:10px 30px;
		background:#CBCCCC;
		color:#000;
		.post-search-container{
			text-align:right;
		}
	}
	.table{
		td{
			padding:10px 30px;
		}
		.headline{
			th{
				color:#953834;
				font-family: "Oswald";
				font-weight:100!important;
				padding:10px 30px;
			}
		}
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.mainPost{
		display: table; 
		table-layout: fixed; 
		height: 100%; 
		width: 100%;
		
		.feature-img-container{
			display: table-cell;
		    float: none;
		}
		
		.feature-content-container{
			display: table-cell;
			float: none;
			height: 100%;
			padding:0 40px 0 20px;
			.feature-content-inner{
				display:table-cell;
				vertical-align:bottom;
			}
		}
	}
	
	.subPost-container{
		padding-top:50px;
		background:#fff;
		.subPostItem{
			
			.post-date{
				
			}
		}
	}
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {	

}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}