@font-face {
  //light
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Oswald-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Oswald-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  //light
  font-family: 'Aileron';
  src: url('../fonts/Aileron-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Aileron-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Aileron-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Aileron-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Aileron-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 200;
  font-style: normal;
}

@font-face {
  //regular
  font-family: 'Aileron';
  src: url('../fonts/aileron-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/aileron-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/aileron-regular-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
}