//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.navbar-default{
	background-color: transparent;
	margin-bottom:0;
    /* RGBa with 0.6 opacity */
    
	border:none;
	.container{
		padding:0;
	}
	
	.navbar-header{
		//padding:0 15px;
		margin:0;
	}
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
	overflow-y:scroll;
}


.navbar-brand{
	position:relative;
	z-index:999;
	height:auto;
	img{
		width:100%;
		height:auto;
	}
}

.navbar-toggle{
	margin-top:25px;
}

.nav-container{
	position:relative;
	.main-menu{
		position:absolute;
		width:100%;
		top:0;
		z-index:999;
		background:rgba(255,255,255,1);
		//max-height:350px;
		-webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.6);
		-moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.6);
		box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.6);
	}
}

.mainnav-container{
	position:relative;
}

#menu-primary-navigation{
	li{
		padding: 0;
	}
	&>li a{
		  font-family: "Oswald";
		  font-weight: 400;
		  color:#706f73;
		  font-size:15px;
		  padding:7px 12px;
		  &:hover{
		  	font-weight:normal;
			
		  }
	}
	.sub-menu{
		&>li a{
			letter-spacing: 1px;
			font-size: 11px;

		}
		li.active a{
			font-weight: 700;
		}
		.sub-menu li{
			a{
				letter-spacing: 1px;
				font-size: 8.5px;
				text-transform: none;


			}
		}
	}
}

.language-menu{
	a{
		font-family: "Novecento";
		font-weight: 300;
		font-size: 10.5px;
	}
}

.search-form{
	.search-field{
		font-family: "Oswald";
    font-size: 17px;
    font-weight: 300;
	}
}

.footer{
	color: #fff;
    margin: 15px auto;
	font-size:13px;
	.copyright{
		//float:left;
		margin-bottom:10px;
	}
	.disclaimer{
		//float:left;
		a{
			color: #fff;
		}
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.navbar-default{
		margin-bottom: 25px;
	    padding-top: 45px;
		//height: 181px;
		//background-color: rgba(0, 0, 0, 0.8);
		.container{
			padding-left:15px;
			padding-right:15px;
		}
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
		background:none;
		//font-weight:bold;
		//padding-bottom:10px!important;
		//border-bottom:3px solid #fff;
	}	

	.navbar-collapse{
		padding:0;
		&.collapse{
			display:inline-block!important;
		}
	}
	
	.navbar-header{
		width:140px;
		padding:0;
		.navbar-brand{
			padding:0;
			width:auto;
			height:auto;
			img{
				width:100%;
			}
		}
	}
	
	.nav-container{
		.main-menu{
			position:relative;
			float:right;
			width:auto;
			top:auto;
			background:none;
			max-height:auto;
			box-shadow:none;
			#slide{
				background:#e8e8e8 none repeat scroll 0 0;
				height: 34px;
				position: absolute;
				top: 0;
				width: 79px;
				z-index:10;
			}
			.navbar-nav{
				position:relative;
				z-index:100;
				& > li{
					text-transform:uppercase;
					position:relative;
					&:hover{
						& > a{
							//font-weight:bold;
							//border-bottom:3px solid #fff;
							padding-bottom:10px!important;
						}
						.sub-menu{
							display:block;
						}
					}
					.sub-menu{
						display: none;
						margin-left: -12px;
						padding-left:0;
						position: absolute;
						width: 102px;
						top:34px;
						z-index:999;
						li {
							background-color: #e8e8e8;
							border-top: 1px solid #fff;
							float: none;
							font-size: 13px;
							padding: 7px 5px!important;
							text-align: center;
							list-style:none;
							a {
								color: #706f73;
							}
							&:hover{
								background-color:#bdbdbd;
							}
						}
					}
				}
				
				.menu-login{
					cursor:pointer;
				}
			}
		}
	}
	
	.footer{
		.copyright{
			float:left;
			margin-bottom:0;
		}
		.disclaimer{
			float:right;
		}
	}
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	.navbar-header{
		width:200px;
	}
	
	
	
	#menu-primary-navigation{
		
		li{
			padding: 7px 22px;
			a{
				padding:0;
			}
		}
	}

	.nav-container .main-menu .navbar-nav > li .sub-menu{
		margin-left: -24px;
	}
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
	.navbar-header{
		width:auto;
	}
}